{% extends 'base.html' %} {% block content %}
</br>
<div class="jumbotron jumbotron-fluid text-center" style="background-color: #9900ff">
  <div class="container">
    <h1 class="display-4 text-white font-weight-bolder">
      Welcome to TwitterClone</h1>
    <p class="lead text-white">
      Not to be confused with the real Twitter.<br>Don't be mad, Jack Dorsey.
      Imitation is flattery.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="background-color: #9900ff">
        <h5 class="card-title">Login</h5>
        <p class="card-text">
          Do you already have an account on TwitterClone? Log into your
          account here.
        </p>
        <a href="/login/" class="btn text-white" style="background-color: #5fec64">Login</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="background-color: #9900ff">
        <h5 class="card-title">Create Account</h5>
        <p class="card-text">
          Don't have an account with us? Click below to create your account and
          start tweeting!
        </p>
        <a href="/register/" class="btn text-white" style="background-color: #5fec64">Sign Up</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}